%div.col-xs-6.col-sm-3.col-md-2
  = link_to new_js_join_requirement_path, method: :get, remote: true, class: 'each-join-requirement new' do
    %span= t('.add')
    %label
      %i.icon-plus
- current_user.join_requirements.each do |jr|
  %div.col-xs-6.col-sm-3.col-md-2
    %div.each-join-requirement
      %span= jr.title
      %label
        = check_box_tag("team[join_requirement_ids][]", jr.id, false, options = {})
