%table.table.table-striped
  %tbody
    - teams.each do |t|
      %tr
        %td
          %h4
            =link_to t do
              %strong= t.title
          .text-muted.text-sm
            %span
              %strong.mr-sm>
                = t.subscriptions.size
                = User.model_name.human(count: 2)
            %span.mh-sm
        %td.text-right.hidden-xs.hidden-sm
          .text-muted
            %small
              = t '.created_at', timestamp: t.updated_at
