= simple_form_for @proposal, url: js_topic_proposals_path(@proposal.topic, next_section: params[:next_section]) do |f|
  = f.input :content, label: false, input_html: {rows: 6, autofocus: true}
  = f.button :submit
