= link_to link_for_notification(notification), class: classes_for_notification(read_was) do
  .media-box
    .pull-left
      %em.fa.fa-2x{class: icon_class_for_notification(notification)}
    .media-box-body.clearfix
      %p.m0= message_for_notification(notification)
      %p.m0.text-muted
        %small= time_ago_in_words(notification.created_at)
