- if groups.size > 0
  %table.table.table-striped
    %tbody
      - groups.each do |g|
        %tr
          %td
            %h4
              =link_to g do
                %strong= g.title
            .text-muted.text-sm
              %span
                %strong.mr-sm>
                  = g.children.size
                  subgrupo(s)
              %span.mh-sm
              %span
                %strong.mr-sm>
                  = g.topics.size
                  tópico(s)
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small
                Criado em
                = g.updated_at
- else
  .text-center
    Não há grupos nesta categoria
