- if groups.size > 0
  %table.table.table-striped
    %tbody
      - groups.each do |g|
        %tr
          %td
            %h4
              =link_to g do
                %strong= g.title
            .text-muted.text-sm
              %span
                %strong.mr-sm> 623 subgrupos
              %span.mh-sm
              %span
                %strong.mr-sm> 323 tópicos
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small Última atualização em 11 de agosto de 2015
- else
  .text-center
    Não há grupos nesta categoria
