- if topics.size > 0
  %table.table.table-striped
    %tbody
      - topics.each do |t|
        %tr
          %td
            %h4
              =link_to t do
                %strong= t.title
            .text-muted.text-sm
              %span
                %strong.mr-sm> 623 mensagens
              %span.mh-sm
              %span
                %strong.mr-sm> 323 participantes
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small Última atualização em 07 de outubro de 2015
- else
  .text-center
    Não há tópicos nesta categoria
