#sign_in.block-center.mt-xl
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      %img.logo{:alt => "Konsento", :src => image_path('konsento.png')}
      %h1 Konsento
    .panel-body
      %p.text-center.pv= t('.title')
      - flash.each do |key, message|
        .alert.alert-danger.fade.in
          = message
      = render partial: '/users/form'

      = link_to "Já é cadastrado? Clique aqui", sign_in_path, class:'col-xs-12 text-center mt-20'
