.row
  .panel.panel-default.col-md-6.col-md-offset-3
    .panel-body
      %h2
        .text-center
          Visualizar Requerimentos
      - @requirement_values.each do |r|
        %b
          = r.join_requirement.title
        %p
          = r.value
