.proposal
  %p
    = proposal.content
  .text-right
    .btn-group
      %button.btn.btn-labeled.btn-default{:type => "button"}
        %span.btn-label>
          %i.icon-speech
        3
      %button.btn.btn-labeled.btn-default{:type => "button"}
        %span.btn-label>
          %i.icon-people
        3
    .btn-group
      - user_vote = proposal.vote_for_user(current_user)
      = link_to agree_js_proposal_path(proposal), method: :post, remote: true, class: classes_for_vote_button(proposal, 1) do
        %span
          %i.icon-like
      = link_to abstain_js_proposal_path(proposal), method: :post, remote: true, class: classes_for_vote_button(proposal, 0) do
        %span
          %i.icon-options
      = link_to disagree_js_proposal_path(proposal), method: :post, remote: true, class: classes_for_vote_button(proposal, -1) do
        %span
          %i.icon-dislike
