.proposal
  %p
    = proposal.content
  .text-right
    .btn-group
      %button.btn.btn-labeled.btn-default{:type => "button"}
        %span.btn-label>
          %i.icon-speech
        3
      %button.btn.btn-labeled.btn-default{:type => "button"}
        %span.btn-label>
          %i.icon-people
        3
    .btn-group
      %button.btn.btn-default{:type => "button"}
        %span
          %i.icon-like
      %button.btn.btn-default{:type => "button"}
        %span
          %i.icon-options
      %button.btn.btn-default{:type => "button"}
        %span
          %i.icon-dislike
