%p= "Você foi convidado para participar do time #{@team_invitation.team.title} no Konsento, uma plataforma de democracia direta digital de consenso progressivo."

%p Para se registrar, clique no link abaixo:
%p= #TODO
