/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 */

@import 'angle/app';
@import 'angle/themes/theme-a.css';
@import 'fonts';
@import 'vendor.assets';

// Custom CSS
body.modal-open {
  padding-right: 0px !important;
  overflow: hidden;
}

.wrapper{
  overflow: hidden;
}

#brand {
  display: flex;
  margin-top: 5px;

  img {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
  }

  .name {
    color: #fff;
    padding: 0px 15px;
    font-size: 29px;
  }
}

textarea {
  resize: none;
}

ul.dropdown-menu {
  min-width: 260px;
}

#notifications-list.list-group {
  .list-group-item.unread {
    background: #e8f6fa;
  }
}

#notifications-box.list-group {
  margin-bottom: 0px !important;

  .list-group-item.unread {
    background: #e8f6fa;
  }

  .list-group-item:hover {
    background: #fafbfc;
  }

  em {
    margin: 10px 5px;
  }
}

#brand:hover {
  text-decoration: none !important;
}

.offsidebar {
  .user-block {
    padding: 10px 0px;
    text-align: center;
  }

  .user-block-info {
    color: #7D848F;
  }

  .item-link{
    em {
      color: #515253;
    }

    span {
      color: #515253;
      margin-left: 15px;
    }

    a:hover span, a:hover em {
      color: #5d9cec;
    }
  }
}

.content-wrapper {
  margin-top: 0px !important;
  border-top: none !important;
}

#breadcrumbs-wrapper {
  height: 40px;
  background: #fff;
  padding-left: 35px;
  border-bottom: #ccc 1px solid;
  font-size: 15px;
  padding-top: 8px;
}

#sign_in {
  width: 450px;

  .logo {
    height: 150px;
  }

  h1 {
    margin-top: 5px;
  }

  .panel-heading {
    padding-bottom: 0px;
  }

  .panel-body {
    padding-top: 0px;
  }
}

#automatically-split-text{
  margin: 10px 0px;
  padding: 5px 20px;
  border-radius: 10px;
  background: #e8f6fa;

  span{
    padding: 0px 5px;
  }
}

#consensus .section:hover {
  background: #EAF6FF;
  cursor: pointer;
}

#consensus .section.active {
  background: #DAECF9;
}

.top-panel-buttons {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px #eee solid;
}

#unavailable_content {
  .message {
    padding-bottom: 10px;
  }
}

.comment-item {
  padding: 10px;

  .media-body {
    padding-left: 10px;
  }

  small.timestamp {
    padding-left: 10px;
  }
}

.comment-item:nth-child(even) {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.agree-button.current {
  color: #0f0;
}

.abstain-button.current {
  color: #00f;
}

.disagree-button.current {
  color: #f00;
}

#modal {
  .modal-comments {
    max-height: 340px;
    overflow-y: auto;
  }
}

footer {
  text-align: center;
}

.bootstrap-tagsinput {
  width: 100%;
}

.add-section {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.tabs-holder {
  width: 100%;
  overflow: auto;

  ul.nav.nav-tabs {
    display: table;
    width: 100%;
    white-space: nowrap;

    li {
      float: none;
      display: inline-block;
    }
  }
}

@media screen and (max-width: $screen-xs) {
  .tab-content {
    padding: 0;
    padding-top: 10px;
  }

  #topic {
    .col-md-6 {
      padding: 0;
    }

    h1 + .col-md-6 {
      margin-bottom: 10px;
    }

    .col-md-6 > p {
      font-size: 16px;
      padding: 10px 0;
    }

    .section {
      margin-bottom: 0;
      padding: 0;

      .proposal {
        .text-right {
          margin-top: 5px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    .section > p {
      padding: 10px;
    }

    .proposal {
      padding: 10px;
    }

    .proposal + hr {
      margin: 0;
    }
  }

  #sign_in {
    width: auto;
  }
}

.flash-messages {
  padding-top: 5px;

  .alert {
    margin: 5px 0px;
  }
}

footer {
  z-index: 115 !important;
  .dropup{
    display: inline-block;
    a {
      cursor: pointer;
    }
  }
}
