/ START Off Sidebar (right)
%nav
  %div{:role => "tabpanel"}
    / Nav tabs
    %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "app-settings", "data-toggle" => "tab", :href => "#app-settings", :role => "tab"}
          %em.icon-equalizer.fa-lg
      %li{:role => "presentation"}
        %a{"aria-controls" => "app-chat", "data-toggle" => "tab", :href => "#app-chat", :role => "tab"}
          %em.icon-people.fa-lg
    / Tab panes
    .tab-content
      #app-settings.tab-pane.fade.in.active{:role => "tabpanel"}
        %h3.text-center.text-thin Tab 1
      #app-chat.tab-pane.fade{:role => "tabpanel"}
        %h3.text-center.text-thin Tab 2
