/ START Off Sidebar (right)
%nav
  %h3.text-center.text-thin
    Perfil
  %ul.nav
    %li.user-block
      / User picture
      .user-block-picture
        .user-block-status
          %img.img-thumbnail.img-circle{:alt => "Avatar", :height => "60", :src => image_path('konsento.png'), :width => "60"}/
          .circle.circle-success.circle-lg
      / Name and Job
      .user-block-info
        .user-block-username
          = current_user.username
        .user-block-email
          = current_user.email
    %li.item-link
      %a{:href => "#", :title => "Editar Perfil"}
        %em.icon-pencil
        %span Editar Perfil
    %li.item-link
      %a{:href => "#", :title => "Editar Informações"}
        %em.icon-tag
        %span Editar Informações
    %li.item-link
      =link_to sign_out_path, :method => :delete do
        %em.icon-logout
        %span Sair
