/ START Off Sidebar (right)
%nav
  %h3.text-center.text-thin
    Perfil
  %ul.nav
    %li.user-block
      / User picture
      .user-block-picture
        .user-block-status
          %img.img-thumbnail.img-circle{:alt => "Avatar", :height => "60", :src => image_path('konsento.png'), :width => "60"}/
          .circle.circle-success.circle-lg
      / Name and Job
      .user-block-info
        .user-block-username username
        .user-block-email email@email.com
    %li.item-link
      %a{:href => "#", :title => "Editar Perfil"}
        %em.icon-pencil
        %span Editar Perfil
    %li.item-link
      %a{:href => "#", :title => "Editar Informações"}
        %em.icon-tag
        %span Editar Informações
    %li.item-link
      %a{:href => "#", :title => "Sair"}
        %em.icon-logout
        %span Sair
